.shop {
    grid-row: content-s/content-e;
    grid-column: s/e;

    display: grid;
    grid-template-rows: 15px [search-bar-s] 38px [search-bar-e product-s] 1fr [product-e];
    grid-template-columns: [s] minmax(100px, 1035px) [e];
    justify-content: center;
    gap: 57px;

    &__search-bar {
        grid-row: search-bar-s/search-bar-s;
        grid-template-columns: s/e;
    }

    &__products {
        grid-row: products-s/products-e;
        grid-template-columns: s/e;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        column-gap: 25px;
        row-gap: 40px;
        width: 100%;
        justify-self: center;
    }
}