.details {
    display: grid;
    gap: 13px;
    
    &__title {
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 7px;
        border-bottom: 1px solid #ccc;
    }

    &__links {
        display: grid;
        gap: 10px;
        font-size: 14px;

        & > * {
            text-decoration: underline;
        }
    }
}